<div ng-controller="CompletedController as completedCtrl">
  <uib-accordion-heading>
    <div class="row">
        <div class="col-xs-4">
            Completado
        </div>
        <div class="col-xs-5">
            <uib-rating class="pull-right" ng-model="delivery.rate"
            max="5" read-only="false">
            </uib-rating>
        </div>
        <div class="col-xs-3">
            <i class="glyphicon pull-right"
            ng-class="{'glyphicon-chevron-down': delivery.open,
            'glyphicon-chevron-right': !delivery.open}"></i>
            <span class="badge pull-right">{{delivery.hitos.length}}</span>
        </div>

    </div>

  </uib-accordion-heading>
  <div class="row">
      <div class="col-xs-1">
        <h4>Origen:</h4>
      </div>
      <div class="col-xs-2">
        <h4>{{delivery.origen}}</h4>
      </div>
      <div class="col-xs-1">
        <h4>Destino:</h4>
      </div>
      <div class="col-xs-2">
        <h4>{{delivery.destino}}</h4>
      </div>
      <div class="col-xs-1">
        <h4>Mercancia:</h4>
      </div>
      <div class="col-xs-2">
        <h4 class="pull-right">{{delivery.pedido.descripcion}}</h4>
      </div>
      <div class="col-xs-1">
        <img src={{delivery.pedido.imagen}} class="img-rounded" alt="Tomates">
      </div>

  </div>
  <div class="row">
      <div class="col-xs-1">
        <h4>Tipo:</h4>
      </div>
      <div class="col-xs-2">
        <h4>{{delivery.pedido.tipo}}</h4>
      </div>
      <div class="col-xs-1">
        <h4>Peso:</h4>
      </div>
      <div class="col-xs-2">
        <h4>{{delivery.pedido.peso}} Kg</h4>
      </div>
      <div class="col-xs-1">
        <h4>Medidas:</h4>
      </div>
      <div class="col-xs-2">
        <h4 class="pull-right">{{delivery.pedido.anchura}} X {{delivery.pedido.altura}}</h4>
      </div>
  </div>
  <hr>
  <h4>Hitos:</h4>
    <uib-alert  class="row" ng-repeat="hito in delivery.hitos" type={{hito.tipo}}>
        <div class="col-xs-12">
          <h5 class={{hito.posicion}}>
            {{hito.mensaje}}
          </h5>
        </div>
    </uib-alert>
</div>
