<div ng-controller="HomeController as homeCtrl">

    <div id="home" class="home">
      <div class="text-vcenter">
        <img src="images/logo sin fondo.png"  alt="JumpVa" />
        <h2>La mejor opción web para el transporte de mercancias</h2>
        <btn class="btn btn-primary btn-lg" ng-click="homeCtrl.login()">Iniciar sesión</btn>
        <btn class="btn btn-primary btn-lg" ng-click="homeCtrl.signin()">Registrarse</btn>
      </div>
    </div>

    <div id="about" class="pad-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/expli sin fondo.png"  class="img-responsive" alt="" />
          </div>
          <div class="col-sm-6 text-center">
            <h2>¿Desea enviar un paquete (realizar una mudanza,etc) y necesita un transportista?<br>
¿Es transportista y le gustaría entregar más paquetes aprovechando su recorrido?</h2>
            <p class="lead">JumpVa es su herramienta perfecta, registrese, ¡es gratis!</p>
          </div>
        </div>
      </div>
    </div>

    <div id="services" class="pad-section">
      <div class="container">
        <h2 class="text-center">Nuestros Servicios</h2> <hr />
        <div class="row text-center">
          <div class="col-sm-3 col-xs-6">
            <i class="glyphicon glyphicon-cloud"> </i>
            <h4>Cloud</h4>
            <p>Gracias al alojamiento en la nube nunca perderá sus datos y estarán siempre disponibles para usted.</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <i class="glyphicon glyphicon-leaf"> </i>
            <h4>Ahorro de combustible</h4>
            <p>Gracias a la gestión de envíos efiente ahorrará mucho combustible, contribuyendo al medio-ambiente.</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <i class="glyphicon glyphicon-phone-alt"> </i>
            <h4>Atención al Cliente</h4>
            <p>JumpVa cuenta con un servicio de atención al cliente a través del cual puede consultar todas sus dudas.</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <i class="glyphicon glyphicon-bullhorn"> </i>
            <h4>Difusión</h4>
            <p>Devido al sistema de valoraciones usted podrá darse a conocer encontrando mejores transportistas o clientes.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="information" class="pad-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Ventajas de ser cliente</h2>
              </div>
              <div class="panel-body lead">
                  El servicio ofrece rapidez y capacidad de monitoreo de los envíos como nunca antes habías visto, permitiendote en todo momento saber cual es su estado. Además gracias al sistema de pujas encontrarás el precio adecuado a tus necesidades.
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Ventajas de ser transportista</h2>
              </div>
              <div class="panel-body lead">
                  Con JumpVa no tendrás dificultades al encontrar envíos que realizar, ni tampoco tendrás que depender de un único cliente para tu trabajo, ya que podrás hacer pujas para encontrar el envío que quieras realizar.

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <hr />
      <div class="container">
        <p class="text-right">JumpVa 2016</p>
      </div>
    </footer>
    <!-- /footer -->

</div>
