<div class="container" ng-controller="HomeController as homeCtrl">


    <form class="home">

        <a class="thumbnail">
          <img src="" alt="JumpVa">
        </a>

        <h1 class="form-signin-heading">Bienvenido</h1>

        <fieldset class="form-group">

            <!-- Boton para iniciar sesion-->
            <input  class="btn btn-default" ng-click="homeCtrl.signin()" type="button" value="Registrarse" />
            <!-- Boton para registrarse-->
            <input  class="btn btn-default" ng-click="homeCtrl.login()" type="button" value="Iniciar Sesión" />

            
        </fieldset>
    <form>
</div>
