<div class="modal-body">

    <form name="loginForm" novalidate>

        <h1>Login</h1>

        <!-- EMAIL -->
        <fieldset class="form-group"
            ng-class="{ 'has-error' : loginForm.email.$invalid
            && !loginForm.email.$pristine }">

            <input  class="form-control" name="email" type="email"
                ng-model="loginCtrl.credentials.email" placeholder="Email"
                required/>

            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine"
                class="help-block">
                Introduzca un email válido.
            </p>

        </fieldset>

        <!-- PASSWORD -->
        <fieldset class="form-group"
            ng-class="{ 'has-error' : loginForm.password.$invalid
            && !loginForm.password.$pristine }">

            <input  class="form-control" name="password" type="password"
                ng-model="loginCtrl.credentials.password"
                placeholder="Contraseña" ng-minlength="6" required/>

            <p ng-show="loginForm.password.$error.minlength" class="help-block">
                La contraseña es demasiado corta.
            </p>
        </fieldset>
    </form>
</div>

<div class="modal-footer">

    <!-- INICIAR SESION -->
    <button class="btn btn-success" ng-click="loginCtrl.login()" type="submit" ng-disabled="loginForm.$invalid">Iniciar Sesión</button>

    <!-- CANCELAR -->
    <button class="btn btn-warning" ng-click="loginCtrl.cancel()" type="button">Cancelar</button>

</div>
