<div class="modal-body">


    <form name="loginForm" role="form">

        <h1 class="form-signin-heading">Iniciar sesión</h1>

        <fieldset class="form-group">
            <input  class="form-control" type="email"
                ng-model="loginCtrl.credentials.email" placeholder="Email"
                title="Email" required/>
        </fieldset>

        <fieldset class="form-group">

            <input  class="form-control" type="password"
                ng-model="loginCtrl.credentials.password"
                placeholder="Contraseña" title="Contraseña"  required/>
        </fieldset>
    <form>
</div>

<div class="modal-footer">

    <!-- Boton para iniciar sesion-->
    <input  class="btn btn-success" ng-click="loginCtrl.login()" type="button" value="Iniciar Sesión" />
    <!-- Boton para registrarse-->

    <input  class="btn btn-warning" ng-click="loginCtrl.cancel()" type="button" value="Cancelar" />

</div>
