<main class="container" ng-controller="MainContentController as mainContentCtrl">
    <h1>MAIN</h1>

    <div class="panel panel-default delivery" ng-controller="DeliveryController as deliveryCtrl"ng-repeat="delivery in mainContentCtrl.deliveries" >
        <div class="panel-heading">
            <h3>Datos del envío</h3>

            <button  ng-click="deliveryCtrl.toggleDropdown(delivery)" type="button">Desplegable</button>
        </div>
        <div class="panel-body"ng-show = "delivery.dropdown">
            <h4>Esto es un Desplegable</h4>

            <div>
                <h4>Origen:</h4>
                <h5>{{delivery.origen}}<h5>
            </div>

            <div>
                <h4>Destino:</h4>
                <h5>{{delivery.destino}}<h5>
            </div>

            <div>
                <h4>Transportista:</h4>
                <h5>{{delivery.transportista}}<h5>
            </div>
        </div>
    </div>
</main>
