<div class="modal-header">
    <div class=" input-group">
        <input type="text" class="form-control" placeholder="Buscar envíos desde...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="modal-body">

   <div class="panel" map-lazy-load="https://maps.google.com/maps/api/js">
     <ng-map center="41,-87" zoom="3"></ng-map>
   </div>

   
   <div id="table-scroll">

        <table class="table">
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Distancia</th>
                </tr>
            </thead>

            <tr class="envio-encontrado" ng-repeat="unassignedDelivery in unassignedDeliveries">
                <td>{{unassignedDelivery.origen}}</td>
                <td>{{unassignedDelivery.destino}}</td>
                <td><h3><span class=" label label-default pull-right">{{unassignedDelivery.distancia}}</span></h3></td>
                <td>
                    <number-input min="0" ng-model="unassignedDelivey.puja"></number-input>
                </td>
                <td>
                    <button type="button" class="btn btn-success pull-right"
                    ng-click="unassignedCtrl.assign(delivery, bid)" >Pujar</button>
                </td>
            </tr>
        </table>
    </div>

</div>



<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
