<div ng-mouseenter="vermapa = true">
    <div class="modal-header">
        <div class=" input-group">
            <input type="text" class="form-control" ng-model="searchDeliveriesCtrl.origin" placeholder="Buscar envíos desde...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div>

    <div class="modal-body">

       <div class="panel">
           <ng-map ng-if="vermapa" scrollwheel="false" class="map-view"  center="{{searchDeliveriesCtrl.origin}}" zoom="10">
             <directions
               draggable="false"
               travel-mode="DRIVING"
               origin="{{searchDeliveriesCtrl.origin}}"
               destination="{{searchDeliveriesCtrl.destination}}">
             </directions>
           </ng-map>
        </div>


       <div id="table-scroll">

            <table class="table">
                <thead>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Distancia</th>
                        <th>Puja</th>
                    </tr>
                </thead>

                <tr class="envio-encontrado" ng-repeat="unassignedDelivery in searchDeliveriesCtrl.unassignedDeliveries"
                    ng-mouseenter="searchDeliveriesCtrl.setOver(unassignedDelivery)">

                    <td>{{unassignedDelivery.origin}}</td>
                    <td>{{unassignedDelivery.destination}}</td>
                    <td><h3><span class=" label label-default pull-right">{{unassignedDelivery.distancia}} kms</span></h3></td>
                    <td>
                        <number-input min="1" ng-model="unassignedDelivery.bid"></number-input>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success pull-right"
                        ng-click="searchDeliveriesCtrl.bid(unassignedDelivery)" >Pujar</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>



    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="searchDeliveriesCtrl.cancel()">Cancelar</button>
    </div>
</div>
