<div class="modal-body" >

    <form name="signin" >

        <h1 class="form-signin-heading">Crear Cuenta</h1>

        <div class="row">
            <div class="col-xs-6">
                <h5>Datos personales</h5>
                <fieldset class="form-group">
                    <input  class="form-control" type="text" ng-model="signinCtrl.newuser.email" placeholder="Nombre"/>
                    <input  class="form-control" type="text" ng-model="signinCtrl.newUser.surname" placeholder="Apellidos"/>                    
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown1" role="button"
                            data-toggle="dropdown">

                            <div class="input-group">
                                <input type="text" class="form-control"
                                    data-ng-model="signinCtrl.newUser.birthday"
                                    placeholder="Fecha de nacimiento">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker
                                data-ng-model="signinCtrl.newUser.birthday"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day'  }"/>
                        </ul>
                    </div>
                    
                <input  class="form-control" type="location" ng-model="signinCtrl.newUser.address" placeholder="Dirección"/>
                </fieldset>
            </div>

            <div class="col-xs-6">
                <h5>Información de la cuenta</h5>
                <fieldset class="form-group">
                    <input  class="form-control" ng-model="signinCtrl.newUser.credentials.email" type="email" placeholder="E-mail"/>
                    <input  class="form-control" ng-model="signinCtrl.emailVerificate" type="email" placeholder="Confirmar e-mail"/>
                    <input  class="form-control" ng-model="signinCtrl.newUser.credentials.password" type="password" placeholder="Contraseña"/>
                    <input  class="form-control" ng-model="signinCtrl.passwordVerificate" type="password" placeholder="Confirmar contraseña"/>
                </fieldset>
            </div>
        </div>



    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="signinCtrl.carrier">
            <uib-accordion-heading>
                    <div class="row">
                       <div class="col-xs-2">
                            <input class="pull-right" type="checkbox" ng-model="signinCtrl.carrier">
                        </div>
                        <div class="col-xs-10">
                            Soy transportista
                        </div>
                    </div>
            </uib-accordion-heading>

            <input type="text" ng-model="signinCtrl.newUser.licenseNo" placeholder="Número de licencia"/>
            <h5>Dimensiones máximas de transporte</h5>
            <div class="row">
                <div class="col-xs-6">
                    <number-input ng-model="signinCtrl.newUser.maxDimens.height" min="0" step="0.01" start="0" hint="Altura" decimalPlaces="2"></number-input>
                </div>
                <div class="col-xs-6">
                    <number-input ng-model="signinCtrl.newUser.maxDimens.width" min="0" step="0.01" start="0" hint="Anchura" decimalPlaces="2"></number-input>
                </div>
                <div class="col-xs-6">
                    <number-input ng-model="signinCtrl.newUser.maxDimens.depth" min="0" step="0.01" start="0"hint="Profundidad" decimalPlaces="2"></number-input>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" ng-model="signinCtrl.newUser.maxDimens.type" title="Tipo">
                        <option value="">Unidades</option>
                        <option value="METER">metros</option>
                        <option value="INCH">pulgadas</option>
                    </select>
                </div>
            </div>

            <h5>Peso máximo autorizado en el transporte (PMA)</h5>
            <div class="row">
                <div class="col-xs-6">
                    <number-input ng-model="signinCtrl.newUser.maxWeight.value" min="0" step="0.01" start="0" hint="Peso" decimalPlaces="2"></number-input>
                </div>                    <div class="col-xs-6">
                    <select  class="form-control" ng-model="signinCtrl.newUser.maxWeight.type"title="Tipo">
                        <option value="">Unidades</option>
                        <option value="KILOGRAM">kilogramos</option>
                        <option value="TONNE">toneladas</option>
                    </select>
                </div>
            </div>

            <h5>Tipos de mercancía permitidos</h5>
            <div class="row">
                <div class="col-xs-6">
                    <input class="pull-right" type="checkbox" >Paquetes<br>
                </div>
                <div class="col-xs-6">
                    <input class="pull-right" type="checkbox" >Liquidos<br>
                </div>
                <div class="col-xs-6">
                    <input class="pull-right" type="checkbox" >Animales<br>
                </div>
                <div class="col-xs-6">
                    <input class="pull-right" type="checkbox" >Vehículos<br>
                </div>
            </div>

        </uib-accordion-group>
    </uib-accordion>
    </form>
</div>

<div class="modal-footer">
    <input  class="btn btn-success" type="submit" ng-click="signinCtrl.createAccount()" value="Crear Cuenta"/>
    <input  class="btn btn-warning" type="button" ng-click="signinCtrl.cancel()" value="Cancelar" />
</div>
