<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" role="button">JumpVa</a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        </div>

        <div class="navbar-collapse collapse" id="myNavbar">

            <ul ng-controller="ButtonsController as buttonsCtrl" class="nav navbar-nav navbar-right">

                <li>
                    <!-- Boton para realizar nuevas busquedas de envios. (solo para transportistas)-->
                    <a ng-hide="buttonsCtrl.isCarrier()"
                        ng-click="buttonsCtrl.createDelivery()"
                        role="button">Crear Envío</a>
                </li>

                <li >
                    <!-- Boton para realizar nuevas busquedas de envios. (solo para transportistas)-->
                    <a ng-show="buttonsCtrl.isCarrier()"
                        ng-click="buttonsCtrl.searchDeliveries()"
                        role="button">Buscar Envíos</a>
                </li>

                <li class="dropdown" ng-controller="UserDataController as userDataCtrl">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true"
                    aria-expanded="true">{{userDataCtrl.name()}} <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a > {{userDataCtrl.carrier()}} </a></li>
                        <li><a ng-click="userDataCtrl.logout()" role="button">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Panel de busqueda-->

            <form class="navbar-form" role="search" name="search"
                ng-controller="SearchController as searchCtrl"
                ng-submit="searchCtrl.search(text)">
                <div class="form-group" >
                    <div class="input-group" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>

                        <input class="form-control" name="search"
                            placeholder="Search Here" autocomplete="off"
                            autofocus="autofocus" type="text" ng-model="text" >
                    </div>
                </div>
            </form>


        </div>
    </div>
</nav>
