<div ng-controller="UnassignedController as unassignedCtrl">

    <uib-accordion-heading>
        <div class="row">
            <div class="col-xs-4">
                No asignado
            </div>
            <div class="col-xs-5">

            </div>

            <div class="col-xs-3">
                <i class="glyphicon pull-right"
                    ng-class="{'glyphicon-chevron-down': delivery.open,
                    'glyphicon-chevron-right': !delivery.open}"></i>
                <span class="badge pull-right">{{delivery.pujas.length}}</span>

            </div>
        </div>

    </uib-accordion-heading>
    
    <div class="row">
        <div class="col-xs-1">
          <h4>Origen:</h4>
        </div>
        <div class="col-xs-2">
          <h4>{{delivery.origen}}</h4>
        </div>
        <div class="col-xs-1">
          <h4>Destino:</h4>
        </div>
        <div class="col-xs-2">
          <h4>{{delivery.destino}}</h4>
        </div>
        <div class="col-xs-1">
          <h4>Mercancia:</h4>
        </div>
        <div class="col-xs-2">
          <h4 class="pull-right">{{delivery.pedido.descripcion}}</h4>
        </div>
        <div class="col-xs-1">
          <img src={{delivery.pedido.imagen}} class="img-rounded" alt="Tomates">
        </div>

    </div>
    <div class="row">
        <div class="col-xs-1">
          <h4>Tipo:</h4>
        </div>
        <div class="col-xs-2">
          <h4>{{delivery.pedido.tipo}}</h4>
        </div>
        <div class="col-xs-1">
          <h4>Peso:</h4>
        </div>
        <div class="col-xs-2">
          <h4>{{delivery.pedido.peso}} Kg</h4>
        </div>
        <div class="col-xs-1">
          <h4>Medidas:</h4>
        </div>
        <div class="col-xs-2">
          <h4 class="pull-right">{{delivery.pedido.anchura}} X {{delivery.pedido.altura}}</h4>
        </div>
    </div>
    <hr>

    <div class="panel panel-default" ng-repeat="bid in delivery.pujas">
      <div class="panel-body">
          <div class="row">
             <div class="col-xs-4">
                {{bid.transportista}}
            </div>
            <div class="col-xs-5">
                <h3><span class=" label label-default pull-right">{{bid.precio | currency}}</span></h3>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success pull-right"
                ng-click="unassignedCtrl.assign(delivery, bid)" >Asignar</button>
            </div>
        </div>

      </div>
    </div>
</div>
