<div ng-controller="UnassignedController as unassignedCtrl">

    <uib-accordion-heading>
        <div>
        No asignado

        <div class="pull-right">
            <span class="badge">{{delivery.pujas.length}}</span>
            <i class="glyphicon"
                ng-class="{'glyphicon-chevron-down': delivery.open,
                'glyphicon-chevron-right': !delivery.open}"></i>
            </div>
        </div>

    </uib-accordion-heading>

    <div class="panel panel-default" ng-repeat="bid in delivery.pujas">
      <div class="panel-body">
        {{bid.transportista}}
        <div class="pull-right">

            <span>{{bid.precio | currency}}</span>
            <button type="button" class="btn btn-primary"
                ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1"
                btn-checkbox-false="0">
                Single Toggle
            </button>
        </div>

      </div>
    </div>
</div>
