

main {
    padding-top: 70px;
    padding-bottom: 40px;
}

.progress {
  width: 102px;

}
.map-view{
    height: 25vh;
}

.panel {
    overflow-y: initial !important
}

.envio-encontrado:hover {
    border-radius: 5px;
    background-color: #eeeeee;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    height: 20px;
  }
.img-rounded {
    width: 130px;
    height: 70px;
    border: 2px solid;
  }

h3 {
    display: inline;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

#myNavbar .input-group-addon {
    width: 1%;
}

#myNavbar .input-group {
    display: table;
}

#myNavbar .form-group {
    display: inline;
}

#table-scroll {
    height: 40vh;
    overflow:auto;
    margin-top:20px;
}
