

body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.progress {
  width: 102px;

}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    height: 20px;
  }

.img-rounded {
    width: 130px;
    height: 70px;
    border: 2px solid;
  }

.alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
  }
.alert-warning {
  margin-left: 510px;
}

.alert {
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 400px;
}

.form-signin, .form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

h3 {
    display: inline;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

#myNavbar .input-group-addon {
    width: 1%;
}

#myNavbar .input-group {
    display: table;
}

#myNavbar .form-group {
    display: inline;
}
